<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Library</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        h3 {
            background-image: url("../static/listmark.png");
            background-repeat: no-repeat;
            padding: 2px;
            padding-left: 30px;
        }
    </style>

    <style type="text/css" th:inline="text">
        [[h3]] {
            background-image: url([[@{/listmark.png}]]);
            background-repeat: no-repeat;
            padding: 2px;
            padding-left: 30px;
        }

    </style>
</head>

<body>

    <h1>Welcome to The Library</h1>

    <h3>Select chapter</h3>

    <div>
        <div><a href="books.html" th:href="@{/books}" >Books</a></div>
        <div><a href="authors.html" th:href="@{/authors}" >Authors</a></div>
        <div><a href="genres.html" th:href="@{/error}" >Genres</a></div>
    </div>

</body>
</html>
